+++
title = "A Abstração de Web Gin"
linkTitle = "A Abstração de Web Gin"
+++

{{< blocks/cover title="A Abstração de Web Gin" image_anchor="top" height="full" color="orange">}}
	<div class="mx-auto">
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref " /docs">}}">
			Aprenda mais <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/gin-gonic/gin/releases">
			Descarregar <i class="fab fa-github ml-2 "></i>
		</a>
		<p class="lead mt-5">A mais rápida e completa abstração de web em Go. Transparente.</p>
		<div class="mx-auto mt-5" />
		{{< blocks/link-down color="info">}}
	</div>
	{{< /blocks/cover>}}


		{{% blocks/lead color="white" %}}

		**O que é a Gin?**

		A Gin é uma abstração de web escrita em Golang.

		Ela apresenta uma API parecida com a Martini, mais com desempenho mais alto, 40 vezes mais rápida do que a Martini.

		Se precisas de desempenho e produtividade, amarás a Gin.

		{{% /blocks/lead %}}

		{{< blocks/section color="light">}}

			{{% blocks/feature icon="fa fa-tachometer-alt" title="Fast" %}}
			Árvore de roteamento baseada em Radix, pouco consumo de memória. Sem reflexão. Desempenho de API previsível.
			{{% /blocks/feature %}}

			{{% blocks/feature icon="fa fa-bars" title="Suporte à Intermediário" %}}
			Uma requisição futura de HTTP pode ser manipulada por uma cadeia de intermediários e pela ação final.
			Por exemplo: Registador, Autorização, GZIP e finalmente publicar uma mensagem na BD.
			{{% /blocks/feature %}}

			{{% blocks/feature icon="fa fa-life-ring" title="Livre de Avaria" %}}
			A Gin pode capturar um pânico que ocorreu durante uma requisição de HTTP e recuperá-lo. Deste maneira, o teu
			servidor estará sempre disponível. Também é possível informar este pânico ao Sentry por exemplo!
			{{% /blocks/feature %}}

			{{< /blocks/section>}}

				{{< blocks/section color="white">}}

					{{% blocks/feature icon="fa fa-check-circle" title="Validação de JSON" %}}
					A Gin pode analisar e validar o JSON de uma requisição, verificando, por exemplo, a existência de valores
					obrigatórios.
					{{% /blocks/feature %}}

					{{% blocks/feature icon="fa fa-users-cog" title="Agrupamento de Rotas" %}}
					Organiza melhor as tuas rotas. Autorização obrigatória vs não obrigatória, diferentes versões de API. Além
					disso, grupos podem ser encaixados infinitamente sem a degradação do desempenho.
					{{% /blocks/feature %}}


					{{% blocks/feature icon="fa fa-briefcase" title="Gestão de Erro" %}}
					A Gin fornece uma maneira conveniente de coletar todos os erros ocorridos durante uma requisição de HTTP.
					Eventualmente, o intermediário pode escrevê-los em um ficheiro de registo, em uma base de dados e enviá-los
					através da rede.
					{{% /blocks/feature %}}

					{{< /blocks/section>}}

						{{< blocks/section color="info">}}

							{{% blocks/feature icon="fa fa-images" title="Interpretação Embutida" %}}
							A Gin fornece uma API fácil de utilizar para interpretação de JSON, XML e HTML.
							{{% /blocks/feature %}}

							{{% blocks/feature icon="fa fa-code" title="Extensível" %}}
							A criação de um novo intermediário é tão fácil, apenas consulte o código de exemplo.
							{{% /blocks/feature %}}

							{{< /blocks/section>}}
