/*

Add styles or override variables from the theme here.

*/

:root,
::backdrop {
	/* Colors (dark mode) */

	--gin-blue: hsl(215, 69%, 52%);

    --sl-hue-blue: 215;
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 54%, 20%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 100%, 60%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 100%, 87%);
	
	--sl-color-accent-low: hsl(204, 54%, 20%);
	--sl-color-accent: hsl(204, 100%, 60%);
	--sl-color-accent-high: hsl(204, 100%, 85%);

	--sl-line-height: 1.75;
	--sl-line-height-headings: 1.2;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
	/* Colours (light mode) */
	
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 80%, 30%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 90%, 60%);
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 88%, 90%);

	--sl-color-accent-high: hsl(215, 80%, 30%);
	--sl-color-accent: hsl(215, 90%, 60%);
	--sl-color-accent-low: hsl(215, 88%, 90%);
}