<table data-inner="">
  <thead>
	<tr>
	  <th style="width: 120px" scope="col">Backend</th>
		<th scope="col">C#</th>
		<th scope="col">C++</th>
	  <th scope="col">Erlang</th>
	  <th scope="col">Go</th>
	  <th scope="col">Java</th>
		<th scope="col">Node.js</th>
		<th scope="col">PHP</th>
	  <th scope="col">Python</th>
		<th scope="col">Ruby</th>
	</tr>
  </thead>
  <tbody>

	<tr>
		<td>AWS X-Ray</td>
		<td data-label="csharp">-</td>
		<td data-label="cpp">–</td>
		<td data-label="erlang">–</td>
		<td data-label="golang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
		<td data-label="java"></td>
		<td data-label="nodejs">–</td>
		<td data-label="php">–</td>
		<td data-label="python">–</td>
		<td data-label="ruby">–</td>
	</tr>

	<tr>
		<td>Azure Monitor</td>
		<td data-label="csharp"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr> <abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="cpp">–</td>
		<td data-label="erlang">–</td>
		<td data-label="golang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
		<td data-label="java"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
		<td data-label="nodejs">–</td>
		<td data-label="php">–</td>
		<td data-label="python"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
		<td data-label="ruby">–</td>
	</tr>

	<tr>
		<td>Datadog</td>
		<td data-label="csharp">–</td>
		<td data-label="cpp">–</td>
		<td data-label="erlang">–</td>
		<td data-label="golang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr> <abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="java">–</td>
		<td data-label="nodejs">–</td>
		<td data-label="php">–</td>
		<td data-label="python">–</td>
		<td data-label="ruby">–</td>
	</tr>

        <tr>
	        <td>Honeycomb</td>
	        <td data-label="csharp">–</td>
	        <td data-label="cpp">–</td>
	        <td data-label="erlang">–</td>
	        <td data-label="golang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	        <td data-label="java">–</td>
	        <td data-label="nodejs">–</td>
	        <td data-label="php">–</td>
	        <td data-label="python">–</td>
	        <td data-label="ruby">–</td>
	</tr>

	<tr>
		<td>Instana</td>
		<td data-label="csharp">–</td>
	  <td data-label="cpp">–</td>
	  <td data-label="erlang">–</td>
	  <td data-label="golang">–</td>
	  <td data-label="java"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="nodejs"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="php">–</td>
	  <td data-label="python">–</td>
		<td data-label="ruby">–</td>
	</tr>
	<tr>
		<td>Jaeger</td>
		<td data-label="csharp">–</td>
	  <td data-label="cpp">–</td>
	  <td data-label="erlang">–</td>
	  <td data-label="golang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="java"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="nodejs"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="php">–</td>
	  <td data-label="python"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
		<td data-label="ruby">–</td>
	</tr>
	<tr>
		<td>Prometheus</td>
		<td data-label="csharp"><abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
	  <td data-label="cpp"><abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
	  <td data-label="erlang"><abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
	  <td data-label="golang"><abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
	  <td data-label="java"><abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="nodejs"><abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="php">–</td>
	  <td data-label="python"><abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="ruby">–</td>
	</tr>
	<tr>
		<td>SignalFX</td>
		<td data-label="csharp">–</td>
	  <td data-label="cpp">–</td>
	  <td data-label="erlang">–</td>
	  <td data-label="golang">–</td>
	  <td data-label="java"><abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="nodejs">–</td>
		<td data-label="php">–</td>
	  <td data-label="python">–</td>
		<td data-label="ruby">–</td>
	</tr>
	<tr>
		<td>Stackdriver</td>
		<td data-label="csharp"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="cpp"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr> <abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
	  <td data-label="erlang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="golang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr> <abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
	  <td data-label="java"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr> <abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="nodejs"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr> <abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="php">–</td>
	  <td data-label="python"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr> <abbr title="Stats Exporter" class="stats-exporter teal white-text">S</abbr></td>
		<td data-label="ruby">–</td>
	</tr>
	<tr>
		<td>Zipkin</td>
		<td data-label="csharp"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="cpp"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="erlang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="golang"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
	  <td data-label="java"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
		<td data-label="nodejs"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
		<td data-label="php">–</td>
	  <td data-label="python"><abbr title="Trace Exporter" class="trace-exporter blue white-text">T</abbr></td>
		<td data-label="ruby">–</td>
	</tr>
	
  </tbody>
</table>
